<form action="/thanhviens" method="POST">
    <div class="form-group">
        <label for="exampleInputEmail1">HoTen</label>
        <input type="name" class="form-control" id="exampleInputEmail1" name="name" placeholder="name">
        <label for="exampleInputEmail1">GioiTinh</label>
        <input type="name" class="form-control" id="exampleInputEmail1" name="Date" placeholder="Date">
        <label for="exampleInputEmail1">nationality</label>
        <input type="name" class="form-control" id="exampleInputEmail1" name="nationality" placeholder="nationality">
        <label for="exampleInputEmail1">stageName</label>
        <input type="name" class="form-control" id="exampleInputEmail1" name="stageName" placeholder="stageName">
        <label for="exampleInputEmail1">ngheNghiep</label>
        <input type="name" class="form-control" id="exampleInputEmail1" name="ngheNghiep" placeholder="ngheNghiep">
        <label for="exampleInputEmail1">description</label>
        <input type="name" class="form-control" id="exampleInputEmail1" name="description" placeholder="description">
        <label for="exampleInputEmail1">image</label>
        <input type="name" class="form-control" id="exampleInputEmail1" name="image" placeholder="image">
        <label for="exampleInputEmail1">slug</label>
        <input type="name" class="form-control" id="exampleInputEmail1" name="slug" placeholder="slug">
        <label for="exampleInputEmail1">videoID</label>
        <input type="name" class="form-control" id="exampleInputEmail1" name="videoID" placeholder="videoID">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-primary" id="close_form-biography">close</button>
</form>